<h1>{{title}}</h1>


<form action="/upload" method="post"  enctype="multipart/form-data">
    <input type="file" name="img_files'" accept="image/*">

    <button type="submit">Add</button>
</form>


<p>Welcome to {{title}}</p>
