server:
    port: 8181
spring:
    application:
        name: order-service
    profiles:
        active: default

#    cloud:
#        config:
#            uri: http://localhost:8888
#
#    rabbitmq:
#        host: localhost
#        port: 5672
#        username: user
#        password: user

#eureka:
#    instance:
#        prefer-ip-address: true
#    client:
#        register-with-eureka: true
#        fetch-registry: true
#        service-url:
#            default-zone: http://localhost:8761/eureka/

logging:
    level:
        ROOT: info


management:
    endpoints:
        web:
            exposure:
                include:
                    - "info"
                    - "bus-refresh"
                    - "health"
                    - "hystrix.stream"
                    - "refresh"
    endpoint:
        refresh:
            enabled: true