<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<button class="btn btn-success pull-right" data-toggle="modal" data-target="#createAgent">
    <i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;&nbsp;
    Create Agent
</button>

<ul>
    <li><a href="/login">Login</a></li>
    <li><a href="/logout">Logout</a></li>
    <li><a href="/upload">S3 Upload</a></li>
    <li><a href="/myinfo">My Info</a></li>
</ul>

{{>modal_chagne_password}}

<script>

</script>
