<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

      <!-- 부트스트랩 -->
      <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">

      <!-- 부가적인 테마 -->
      <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap-theme.min.css">

      <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
      <script src="/jquery/dist/jquery.min.js"></script>
      <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>

<script src="/js/common.js"></script>
