|===
|CustomField|Descriotion|Required
{{#fields}}
|{{#tableCellContent}}{{customField}}{{/tableCellContent}}
|{{#tableCellContent}}{{description}}{{/tableCellContent}}
|{{#tableCellContent}}{{^optional}}true{{/optional}}{{#optional}}false{{/optional}}{{/tableCellContent}}
{{/fields}}
|===
