<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <springProperty scope="context" name="port" source="server.port"/>
  <springProperty scope="context" name="profile" source="spring.profiles.active"/>

  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

  <appender name="stash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">

    <destination>127.0.0.1:5044</destination>

    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>info</level>
    </filter>

    <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
  </appender>

  <root level="info">
    <appender-ref ref="stash"/>
  </root>

</configuration>