<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<div id="app">
    <p v-bind:id="uuid" v-bind:class="name">{{ num }}</p>
    <p>{{ doubleNum }}</p>

    <div v-if="loading">
        Loading...
    </div>

    <div v-else>
        test user login bean logged in
    </div>

    <div v-show="loading">
        Loading...
    </div>

    <input type="text" v-model="message">
    <p>{{ message }}</p>
</div>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>
    new Vue({
        el: '#app',
        data: {
            num: 10,
            uuid: 'abc1234',
            name: 'text-blue',
            loading: true,
            message: ''
        },
        computed: {
            doubleNum: function () {
                return this.num * 2;
            }
        }
    })

</script>
</body>
</html>