<!-- 공통으로 모달을 사용할 수 있도록 변경할 것 -->
<!-- Modal 에이전트를 생성할 경우 -->
<div class="modal" id="createAgent" role="dialog">
    <form class="modal-dialog" method="post" action="" id="frm_create_agent">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal Test</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label">User ID</label>
                    <input type="text" class="form-control agent-code" name="create_agent_code" placeholder="at least 4 characters" autofocus required autocomplete="off" />
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control pass" name="pass" id="create-agent-password" placeholder="at least 4 characters" required autocomplete="off" />
                </div>
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input type="password" class="form-control re_pass" name="re_pass" placeholder="at least 4 characters" required autocomplete="off" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary btn-create-agent-submit">Create</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </form>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->